<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <meta name="description" content="An easy customize and configureable NPM Package to make your Discord Bot Faster and Easy.">
    <meta name='theme-color' content='#3b86fc'>
    <link rel="stylesheet" href="bootstrap/4-1-3/css/bootstrap.min.css" >
    <title>DBD JS</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: rgb(31,41,51);">
  <a class="navbar-brand" href="https://npmjs.com/package/dbd.js" target="blank">
  <img src="emojis/790059620658970654.png" width="30" height="30" class="rounded-circle d-inline-block align-top" alt="">
    DBD.JS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://dbd.leref.ga" target="blank">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="https://dbdjs.leref.ga">API</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://dbd.js.org/invite" target="blank">Support Server</a>
      </li>
    </ul>
  </div>
</nav>
<div class="NOT-MB" id="pc" style="display:none;">
    
<div class="container-fluid text-center mw-100 mt-5">
    <img src="attachments/727035093364899852/793698897011671060/awd.png" alt="Dbdjs" class="w-50 mt-5">
      <br>
      <br> 
    <a href="https://npmjs.com/package/dbd.js" class="text-center text-decoration-none rounded mx-auto font-normal h6 text-black w-50 bg-white card-body">npm install dbd.js</a>
      <br>
      <br>
      <br>
      </div>
    <div class="container-fluid mw-100 mt-5 mx-auto">
      <div class="text-center text-white font-bold h1 w-50 mx-auto" >
        About
      </div>
      <br>
        <div class="text-center text-white mx-auto w-50">
        DBD.JS is a Simplified and a Wrapper of Discord JS, <br>it is created for users who do not understand JavaScript and how it works. Simply dbd.js is for beginners and more easy to Understand, no need complicated codes. <br><br>The Developers were inspired by <a class="text-decoration-none font-bold font-weight-heavy"href="https://botdesignerdiscord.com">Bot Designer For Discord</a>, an amazing Application Coder with its own Script Language known as BDScript. You can download it in <a class="text-decoration-none font-bold" href="https://play.google.com/store/apps/details?id=com.jakubtomana.discordbotdesinger&hl=in&gl=US">Play Store</a> or <a class="text-decoration-none font-bold" href="https://apps.apple.com/us/app/bot-designer-for-discord/id1495536477">App Store</a>.
      </div>
    </div>
    <div class="container-fluid mw-100 mt-5 mx-auto">
      <div class="text-center text-white font-bold h1 w-50 mx-auto" >
        Example
      </div>
      <br>
        <div class="container-fluid w-50">
   <pre class="hljs rounded border border-muted" style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(240, 240, 240); color: rgb(68, 68, 68);"><span class="text-info">const</span> <span class="text-primary">dbd</span> = <span class="font-weight-bold text-warning">require</span>(<span class="hljs-string" style="color: rgb(136, 0, 0);">"dbd.js"</span>) <span class="hljs-comment" style="color: rgb(136, 136, 136);">//Import dbd.js</span>
<span class="text-info">const</span> <span class="text-primary">bot</span> = <span class="hljs-keyword" style="font-weight: 700;">new</span> <span class="text-primary">dbd</span>.<span class="text-warning font-weight-bold">Bot</span>({
<span class="text-info">token:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"Discord Bot Token"</span>,
<span class="text-info">prefix:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"!"</span>
}) <span class="hljs-comment" style="color: rgb(136, 136, 136);">//Login the Bot to Discord using Your Bot Token</span>
<span class="text-primary">bot</span>.<span class="text-warning font-weight-bold">onMessage()</span><span class="hljs-comment" style="color: rgb(136, 136, 136);">//Events for Commands to run</span>
<span class="text-primary">bot</span>.<span class="text-warning font-weight-bold">command</span>({
<span class="text-info">name:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"ping"</span>, <span class="hljs-comment" style="color: rgb(136, 136, 136);">//The command name,</span>
<span class="text-info">code:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"$ping ms"</span> <span class="hljs-comment" style="color: rgb(136, 136, 136);">// The command code</span>
})
</pre>
   </div>
    </div>
        <div class="mx-auto mt-5 pt-5 text-center inline">
       <a class="btn btn-primary rounded text-white text-decoration-none btn-lg" href="https://dbd.leref.ga" role="button">Get Started</a>
      <a class="btn ml-3 btn-lg text-white text-decoration-none" style="background-color:rgb(114,137,218);"href="https://discord.gg/HmyERe3D2a" role="button"><i src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/91_Discord_logo_logos-512.png"></i>Discord</a>
    </div>
    <div class="mx-auto text-center text-white card mt-5 bg-secondary">
      <div class="mx-auto text-center card-body">
      CSS by <a class="text-decoration-none" href="https://getbootstrap.com" style="-webkit-text-fill-color: #BF00FF;">Bootstrap</a>
        </div>
      </div>
</div>
<div class="MB" id="m" style="display:none;">
 <style>
body {
background-size: 400% 400%;
animation: gradient 5s infinite;
animation-direction:alternate;
  background-image: linear-gradient(black, #3b86fc);
}
@keyframes gradient {
0%{
background-position:top;
}
50%{
background-position:(top/2);
}
100% {
background-position: center; 
}
}
</style>
  <div class="container-fluid mx-auto text-center mw-100 mt-5">
    <img src="attachments/727035093364899852/793698897011671060/awd.png" alt="Dbdjs" class="mw-100 mt-5">
      <br>
      <br>
      </div>
<div class=" float-left text-white text-left">
         DBD.JS is a Simplified and a Wrapper of Discord JS, it is created for users who do not understand JavaScript and how it works.
<br><br>
Simply dbd.js is for beginners and more easy to Understand, no need complicated codes.
<br><br>
The Developers were inspired by Bot Designer For Discord, an amazing Application Coder with its own Script Language known as BDScript. You can download it in Play Store or App Store.
         </div>
       <div class="mt-5 float-left text-white text-left h3">
         Are you familiar with BDFD Aka Bot Designer for Discord?</div><br><div class="float-left text-white border-bottom border-bottom-black text-left h4"> Now you can use your codes with a Custom Hosting with no Problem
         </div>
  <br>
   <br>
  <div class="mt-3 float-left text-white text-left h3">Installing DBD.JS
       </div>
  <br>
  <div class="float-left text-white text-left">Install DBD.JS in your Command Prompt or Terminal with Node Package Module (NPM)</div>
       <br>
  <br>
       <pre class="hljs mx-auto w-50 text-center rounded border border-muted h5" style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(240, 240, 240); color: rgb(68, 68, 68);">npm install dbd.js
</pre>
   <br>
   <br>
       <div class="mt-3 float-left text-white text-left h3">Example Usage ⛏️
       </div>
       <br>
       <div class="float-left text-white text-left">The startup code for your bot</div>
       <div class="mt-2 float-left text-left w-100">
         <pre class="hljs rounded border border-muted" style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(240, 240, 240); color: rgb(68, 68, 68);"><span class="text-info">const</span> <span class="text-primary">dbd</span> = <span class="font-weight-bold text-warning">require</span>(<span class="hljs-string" style="color: rgb(136, 0, 0);">"dbd.js"</span>) <span class="hljs-comment" style="color: rgb(136, 136, 136);">//Import dbd.js</span>
<span class="text-info">const</span> <span class="text-primary">bot</span> = <span class="hljs-keyword" style="font-weight: 700;">new</span> <span class="text-primary">dbd</span>.<span class="text-warning font-weight-bold">Bot</span>({
<span class="text-info">token:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"Discord Bot Token"</span>,
<span class="text-info">prefix:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"!"</span>
}) <span class="hljs-comment" style="color: rgb(136, 136, 136);">//Login the Bot to Discord using Your Bot Token</span>

<span class="text-primary">bot</span>.<span class="text-warning font-weight-bold">onMessage()</span><span class="hljs-comment" style="color: rgb(136, 136, 136);">//Events for Commands to run</span>

<span class="text-primary">bot</span>.<span class="text-warning font-weight-bold">command</span>({
<span class="text-info">name:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"ping"</span>, <span class="hljs-comment" style="color: rgb(136, 136, 136);">//The command name,</span>
<span class="text-info">code:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"$ping ms"</span> <span class="hljs-comment" style="color: rgb(136, 136, 136);">// The command code</span>
})

</pre>
         </div>
       
       <div class="mt-3 float-left text-white text-left h3"> Music Support 🎶
         </div>
       <div class="mt-1 float-left text-white text-left">
         With our powerful Package, we incorporated Music with a simple function
         </div>
       <div class="mt-2 float-left text-left mw-100">
<pre class="hljs rounded border border-muted" style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(240, 240, 240); color: rgb(68, 68, 68);"><span class="text-primary">$playSong[video name;error]</span> - Search Youtube and play the requested Song name
<span class="text-primary">$playSpotify[spotify playlist url;show success (number/name);error]</span> - Search Youtube and Plays Music from Spotify Playlist
<span class="text-primary">$skipSong</span> - Skips Song and play the next one (if any)
<span class="text-primary">$skipTo[number]</span> - Skips <%= "<" %>number<%= ">" %> Songs and plays the next one
<span class="text-primary">$stopSong</span> - Stopped and Remove All songs in Queue
<span class="text-primary">$pauseSong</span> - Paused Song that's currently Playing
<span class="text-primary">$resumeSong</span> - Resumed Song that's currently Paused
<span class="text-primary">$volume[number]</span> - Modify the Volume of Sound
<span class="text-primary">$loopQueue</span> - Loops the Queue and keep tracks without removing them after playing
</pre>
         </div>
       
       <div class="mt-3 h3 float-left text-white text-left"> Using Variables ⚙️
         </div>
       <br>
       <div class="float-left text-white text-left">Adding a variable to database so it can be saved and used for further use</div>
       
       <div class="mt-2 float-left text-left w-100">
         <pre class="hljs rounded border border-muted" style="display: block; overflow-x: auto; padding:0.5em; background: rgb(240,240,240); color: rgb(68, 68, 68);"><span class="text-primary">bot</span>.<span class="text-warning font-weight-bold">variables</span>({
<span class="text-info">Name</span><span class="text-danger">:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"Value"</span>, <span class="text-muted">// A name and value for each variable</span>
<span class="text-info">Name2</span><span class="text-danger">:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"Value2"</span> <span class="text-muted">// Money:100, Myname:"Kinyo", Developers:["Leref", "Akeno"]</span>
 })
         </pre>
         </div>
       
       <div class="mt-3 float-left text-white text-left h4">Using Callbacks/Events 💡</div>
       <br>
       <div class="float-left text-white text-left">Executing Callback every Events emitted</div>
       <div class="mt-2 float-left text-left w-100">
         <pre class="rounded border border-muted" style="display: block; overflow-x: auto; padding: 0.5em; background: rgb(240,240,240); color: rgb(68,68,68);"><span class="text-primary">bot</span>.<span class="text-warning font-weight-bold">joinCommand</span>({
<span class="text-info">channel</span><span class="text-danger">:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"CHANNEL ID"</span>, <span class="text-muted">// A channel ID for the code to execute</span>
<span class="text-info">code</span><span class="text-danger">:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">`Welcome $username`</span> <span class="text-muted">//The code everytime someone Joined a Guild (if bot in guild)
})

<span class="text-primary">bot</span>.<span class="text-warning font-weight bold">onJoined</span>() <span class="text-muted">//An Event for Callback (bot.joinCommand) to work</span>
</pre>
         </div>
         <div class="mt-3 float-left text-white text-left h3">Setting Bot Status 📌</div>
         <br>
         <div class="float-left text-white text-left">Set your bot Status that appear below Bots Profile Username</div>
         <div class="mt-1 float-left text-left w-100">
           <pre class="rounded border border-muted" style="display: block; overflow-x: auto; padding: 0.5rm; background: rgb(240, 240, 240);color: rgb(68, 68, 68);"><span class="text-primary">bot</span>.<span class="text-warning font-weight-bold">status</span>({
 <span class="text-info">text</span><span class="text-danger">:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"npm install dbd.js"</span>,
 <span class="text-info">type</span><span class="text-danger">:</span><span class="hljs-string" style="color: rgb(136, 0, 0);">"playing"</span>,
 <span class="text-info">time</span><span class="text-danger">:</span><span class="text-warning">12</span>
 })
 </pre>
 </div>
       </div>
</div>
<script> 
var m = document.getElementById("m")
var pc = document.getElementById("pc")
function displayMobile() {
m.style.display = "block";

}
function displayPC() {
pc.style.display = "block";
document.body.style.backgroundColor = "white";
}
if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent) || ( window.innerWidth <= 1000 ) && ( window.innerHeight <= 1000 )) {
    displayMobile()
} else {
displayPC()
}
</script>
      <script src="jquery-3.5.1.slim.min.js" ></script>
<script src="npm/popper-js_1-16-1/dist/umd/popper.min.js" ></script>
<script src="npm/bootstrap_4-5-3/dist/js/bootstrap.min.js" ></script>
</html>
