@font-face {
    font-family: 'Determination Sans Web';
    src: url('DeterminationSansWeb.woff2') format('woff2'),
        url('DeterminationSansWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

